
# object and module files
*.o
*.mod

# libraries
*.a

# executable
fortran/pade_approximants

# Local setting files
fortran/Makefile
fortran/quad/zgels/zgels_quad/Makefile

# storing current Git version. Updated every time recompile 
fortran/gitversion.f90

