
# object and module files
fortran/*.o
fortran/*.mod

# executable
fortran/Pade_approximants

# Local setting files
fortran/Makefile

# storing current Git version. Updated every time recompile 
fortran/gitversion.f90

